<form [formGroup]="form" >
    <h3>Total Expenditure: {{bal}}</h3>
    <h3>Available Balance: {{20000-bal}}</h3>

    <!-- <div *ngIf="category?.invalid && category?.touched">
        <p *ngIf="category?.errors?.['required']">Please fill the category 😉?</p>
      </div> -->
    
      <!-- <mat-form-field>
        <input matInput type="text" placeholder="Enter Category" formControlName="category" />
        <mat-error *ngIf="category?.errors?.['required']">

            Please fill the category 😉?
        </mat-error>
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" [placeholder]="'Enter Category'">
          <mat-option value="" disabled>Enter Category</mat-option>
          <mat-option value="Food">Food</mat-option>
          <mat-option value="Medicine">Medicine</mat-option>
          <mat-option value="Shopping">Shopping</mat-option>
          <mat-option value="Others">Others</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.category.invalid && form.controls.category.touched">
          Please fill the category 😉?
        </mat-error>
      </mat-form-field>

    <!-- <mat-form-field>
        <input matInput type="text" placeholder="Enter Price" formControlName="price" />
        <mat-error *ngIf="price?.errors?.['required']">

            Please add the price 😉?
        </mat-error>
    </mat-form-field> -->

    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" placeholder="Enter Price" />
        <mat-error *ngIf="form.controls.price.invalid && form.controls.price.touched">
          Please add the price 😉?
        </mat-error>
      </mat-form-field>

    <!-- <mat-form-field>
        <input matInput type="text" placeholder="Enter Date" formControlName="date" />
        <mat-error *ngIf="date?.errors?.['required']">

            Please add the Date 😉?
        </mat-error>
    </mat-form-field>
       -->

       <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Enter Date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.controls.date.invalid && form.controls.date.touched">
          Please add the Date 😉?
        </mat-error>
      </mat-form-field>
<!-- <button (click)="onsubmit()"  [disabled]="form.invalid">submit</button> -->

<button mat-raised-button type="submit" [disabled]="form.invalid" (click)="onsubmit()">Submit</button>
  </form>
